<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <div th:if="${error != null}">
      <p th:text = "${error}"></p>
    </div>
 <form th:action="@{'/salePlace/{id}'(id = ${salePlaceId})}" th:method="POST">
        <div th:each = "foodItem : ${foodItems}">

            <input th:text = "${foodItem.getFoodItemName()}" th:value = "${foodItem.getFoodItemId()}" name = "foodIds" />
            <input th:if="${foodItemStat.index < prices.size()}" th:value = "${prices.get(foodItemStat.index).getCost()}" name = "foodPrice">
            <input type="number" name = "quantity">
        </div>
     <input type="submit" value = "Направете нарачка">
 </form>
</body>
</html>